body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: black;
    color: white;
    padding: 20px;
}

nav {
    background: gray;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.section {
    padding: 40px;
}

.profile {
    width: 150px;
    border-radius: 50%;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project img {
    width: 200px;
    border-radius: 10px;
}

footer {
    background: black;
    color: white;
    padding: 10px;
}
